name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.3.1

      - name: Setup Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.18.0
          cache: 'pnpm'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.14.0

      - name: Install dependencies
        run: pnpm install

      - name: Run unit & integration tests
        run: pnpm test

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Run E2E tests
        run: pnpm test:ete:ci
